* {
    margin: 0;
}

h1 {
    text-align: center;
    padding: 15px;
    color: whitesmoke;
    background-color: rgb(75, 75, 75);
    font-size: 30px;
}

.form {
    width: 90%;
    min-width: 300px;
    height: 525px;
    box-shadow: 0px 0px 16px 8px rgb(0, 0, 0, 30%);
    border-radius: 5px;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.form img {
    float: right;
    position: sticky;
    height: 525px;
    width: 42%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 0;
    top: 0;
}

.row {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 10px;
    padding: 5px;
}

form {
    width: 100%;
    position: relative;
}

label {
    font-size: 18px;
}

input {
    background-color: white;
    color: black;
    width: 55%;
    padding-left: 10px;
    border: none;
    border-bottom: 1.2px solid grey;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
}

.contact input,
.contact label {
    background-color: white;
    color: black;
    width: 90%;
    height: 20px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-bottom: 1.2px solid grey;
    padding-left: 10px;
}

.contact label {
    border: none;
}

.contact select {
    border: none;
    font-size: 14px;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    padding-left: 10px;
    background-color: rgb(238, 235, 235);
    justify-items: center;
    height: 30px;
    padding: 0;
}

.contact select option {
    font-size: 12px;
}

input:focus {
    border-color: white;
}


.contact {
    width: 50%;
    padding-top: 10px;
}

.form p {
    font-weight: bold;
    font-size: larger;
    width: 45%;
}

h5 {
    width: 45%;
}

button {
    font-size: large;
    color: white;
    background-color: blueviolet;
    position: fixed;
    padding: 10px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 5px;
    border: none;
    bottom: 0;
}

#first {
    margin-left: 30%;
}

#second {
    margin-left: 55%;
}

.test_details {
    width: 50%;
    margin: 10px 0px 0px 10px;
}

.test_details input {
    background-color: white;
    color: black;
    width: 15px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 16px;
}

.test_details label {
    line-height: 30px;
    vertical-align: middle;
    word-wrap: break-word;
    text-align: right;
    font-size: 18px;
}


@media only screen and (min-width:500px) {

    input {
        width: 65%;
    }

    h1 {
        font-size: 32px;
    }

    .contact input,
    .contact label {
        height: 30px;
        font-size: 16px;

    }

    .form p {
        width: 50%;
        font-size: x-large;
    }

    h5 {
        width: 50%;
        font-size: 16px;
    }

}

@media only screen and (min-width:1000px) {

    input {
        width: 100%;
    }

    h1 {
        padding: 18px;
    }

    .form {
        width: 92%;
    }

    h5 {
        font-size: 16px;
    }

    .contact select {
        font-size: 16px;
    }

}